body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  align-items: center;
  

}
.TodoH2 {
  margin: 0;
}
.AllTodo {
  margin-right: 50px;
  margin-left: 50px;
  display: flex;
  justify-content: center;
  width: 70%;
  height: 300px;
  border: 1px solid 
}
.TodoList {
  margin-right: 30px;
  width: 30%;
  border-right: 1px solid #cccccc;
  list-style-type: none;
}
.TodoLabelList {
  list-style-type: none;

  width: 70%;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
